# .NET Core / .NET Standard
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# NuGet Packages
*.nupkg
*.snupkg

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vscode/
.settings/
*.code-workspace
*.vsix
Pro